h1{
    text-align: center;
}


#a{
    border-style:solid;
    border-color: yellow;
    width:75px;
    height:300px;
    float: left;
    background-color: yellow;
    padding:40px;   
    max-resolution: 40px;
    margin-right:2%;
    margin-left:15%;


}
 
#b{
    border-style:solid;
    border-color:gray;
    width:75px;
    height:300px;
    float:left;
    background-color:gray;
    padding:40px;   
    max-resolution: 40px;
    margin-right:2%;
}
  


#c{
    border-style:solid;
    border-color:green;
    width:75px;
    height:300px;
    float:left;
    background-color:green;
    padding:40px;   
    max-resolution: 40px;
    margin-right:2%;

}
 
#d{
    border-style:solid;
    border-color:orange;
    width:75px;
    height:300px;
    float:left;
    background-color:orange;
    padding:40px;   
    max-resolution: 40px;
    margin-right:2%;
}



#e{
    border-style:solid;
    border-color:brown;
    width:75px;
    height:300px;
    float:left;
    background-color:brown;
    padding:40px;   
    max-resolution: 40px;
    margin-right:2%;
    

}
 
